.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  border: none;
  outline: none;
  margin: auto 18px;
  height: 30px;
  width: 83px;
  border-radius: 7px;
  background-color: rgb(45, 10, 245);
  color: white;
}

.warning {
  color: red;
  font: italic 1.2em "Fira Sans", serif;
}

.user_container {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 250px;
  width: 500px;
  margin: auto;
  margin-top: 100px;
}

.item {
  margin-bottom: 10px;
}

.btn {
  height: 30px;
  margin: 0px 15px;
  width: 150px;
  background: #00ffeb;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.card {
  flex-wrap: no-wrap;
  margin: 25px 50px;
  width: 25%;
  height: 100px;
  margin: 15px auto;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
